<nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Brac</a>
      <button type="button" class="btn btn-dark btn-sm border-primary p-1" id="tutButton" onclick="tutFunc()"> <i
          class="bi bi-info-circle mx-1"> tutorial</i> </button>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="editSwitch" onchange="editFunc(this)">
        <label class="form-check-label text-white" for="flexSwitchCheckDefault">Edit</label>
      </div>

    </div>
  </nav>