<li class="list-group-item d-flex justify-content-between align-items-center text-break  px-1 py-0 " text="" id="sampleListItem" link="" type="" time="">
  <i class="bi bi-list p-0 my-0 "></i>
  
  <text class="font-monospace text-start li-text mx-2 "></text>
    <div class="my-1 p-0">
      <a class="badge bg-primary rounded p-2  deleteAnchor" onclick="deleteLiFunc(this)" style="visibility:hidden;"><i class="bi bi-trash"></i></a>
      <a class="badge  rounded  p-2  time-element" onclick="enterTime(this)" data-bs-toggle="modal"
        data-bs-target="#timeModal" style="text-decoration: none; pointer-events: none;"><i
          class="bi bi-clock time-element-bi"></i></a>
      <a class="badge bg-primary rounded p-2 link-element" onclick="enterLink(this)"><i class="bi bi-link-45deg link-element-bi"></i></a>
    </div>
  </li>