<li class="list-group-item d-flex justify-content-between align-items-center text-break  px-1 " text="" id="sampleListItem" link="" type="" time="">
  <text class="font-monospace text-start mx-2">This is in monospace</text>
    <div class="">
      <a class="badge bg-primary rounded p-1 deleteAnchor" onclick="deleteLiFunc(this)" style="visibility:hidden;"><i class="bi bi-trash"></i></a>
      <a class="badge bg-primary rounded  p-1 time-element" onclick="enterTime(this)" data-bs-toggle="modal"
        data-bs-target="#timeModal" style="text-decoration: none; pointer-events: none;"><i
          class="bi bi-clock time-element-bi"></i></a>
      <a class="badge bg-primary rounded p-1 link-element" onclick="enterLink(this)"><i class="bi bi-link-45deg link-element-bi"></i></a>
    </div>
  </li>