<li class="list-group-item d-flex justify-content-between align-items-center text-break" id="sampleListItem">
    <div>
      <a class="badge bg-primary rounded p-1 deleteAnchor" onclick="deleteLiFunc(this)" style="visibility:hidden;"><i class="bi bi-trash"></i></a>
      <a class="badge bg-primary rounded  p-1 time-element" onclick="enterTime(this)" data-bs-toggle="modal"
        data-bs-target="#timeModal" style="text-decoration: none; pointer-events: none;"><i
          class="bi bi-clock"></i></a>
      <a class="badge bg-primary rounded p-1" onclick="enterLink(this)"><i class="bi bi-link-45deg"></i></a>
    </div>
  </li>